/* Altarar a aprência padrão do input de carregar arquivos */
input[type=file]::file-selector-button {
    border: none;
    background-color: #3d5afe;
    color: white;
    border-radius: 4px;
    padding: 0.5em;
    margin-right: 0.5em;
    font-size: 16px;
    cursor: pointer;
}
.iconeInstagram{
    width: 32px !important;
}


i.material-icons{
    font-size: 24px;
}
html{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}