#texto_copiar{
    text-align: left;
    font-weight: 500;
     font-size: 16px;
}
.mensagemPadrao{
    margin-top: 4em;
    max-width: 30em;
    margin-inline: auto;
}

.mensagemPadrao .card-title{
    text-align: center;
    font-weight: 500;
}

.mensagemPadrao .card-action{
    text-align: center;
}

.mensagemPadrao .card-action button{
    font-weight: 600;
}

.mensagemPadrao .material-icons{
    text-align: center;
}